@media (max-width: 650px) {
    .quotes-wrapper-posts {
        margin-top: -50px;
        margin-left: -210px;
    }
  
    .home-wrapper-body {
      margin-top: -50px;
      margin-left: -220px;

      a {
          margin-left: -1px;
      }
    }
}



