@media (max-width: 650px) {
    .quotes-wrapper-posts {
        // flex-direction: column;
        // align-items: center;
        margin-left: -130px;
    }
  
    .home-wrapper-contents {
        margin-left: 60px;
        margin-top: 20px;
    }
}


